---
const year = new Date().getFullYear();
---

<footer class="mt-auto flex w-full items-center justify-center pb-4 pt-20 text-center text-xs text-gray-500">
  <div>
    Copyright &copy; {year}
    <span class="ml-2" aria-label="four leaf clover emoji">🍀</span> Yunzhe Wang -
    Feel free to
    <a
      href="https://github.com/wangyz1999/portfolio"
      target="_blank"
      class="underline"
      rel="noopener">clone</a
    >
  </div>
</footer>
