---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/about.png";

const meta = {
	title: "Yunzhe not Found",
	description: "Oops! It looks like this page is lost in space!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404 | Well, this is awkward...</h1>
	<p class="mb-8">
		Just like my favorite socks on laundry day, the page you're looking for seems to have made a
		stealthy escape. Could it be a career in magic? Or is it just playing hide and seek? We may
		never know!
	</p>
	<p>
		Use the navigation to find your way back. If all else fails, follow the smell of virtual cookies
		to lead you home.
	</p>
	<div class="flex items-center justify-center">
		<Image
			class="w-4/5 object-contain sm:w-2/3"
			src={aboutImg}
			alt="Website Logo Y"
			loading="eager"
		/>
	</div>
</PageLayout>
