---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import ResearchPreview from "@/components/research/ResearchPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";
import { Picture } from "@astrojs/image/components";
import profile_pic from "../assets/profile.jpg";
import InLineLink from "@/components/InLineLink";

const MAX_POSTS = 10;
const MAX_RESEARCH = 10;

const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const allResearch = await getCollection("research");
const allResearchByDate = sortMDByDate(allResearch).slice(0, MAX_RESEARCH);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<div class="flex flex-col space-y-4 sm:flex-row sm:space-x-4 sm:space-y-0">
			<div class="flex-1 p-4">
				<Picture
					class="mx-auto w-full rounded-md"
					widths={[400, 768, 1024, 2040]}
					sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
					loading="eager"
					width={1024}
					height={576}
					src={profile_pic}
					alt="profile"
				/>
				<div class="mt-4">
					<SocialList />
				</div>
			</div>
			<div class="flex-1 p-4">
				<h1 class="text-xxl title mb-4">Yunzhe Wang</h1>
				<p class="mb-4">
					I'm a M.S. Computer Science student at Columbia University working with Prof. <InLineLink
						href="https://www.hodlipson.com/"
						text="Hod Lipson"
					/>, Dr. <InLineLink href="http://boyuanchen.com/" text="Boyuan Chen" />, and PhD
					candidate <InLineLink href="https://www.yuhang-hu.com/" text="Yuhang Hu" />. I
					work on Efficient Machine Learning within Robotics.
				</p>
				<p class="mb-4">
					Previous, I obtained my B.S. Computational Neuroscience and B.A. Applied
					Mathematics at University of Southern California, lucky to work with Dr. <InLineLink
						href="https://www.linkedin.com/in/volkan-ustun-9883a74/"
						text="Volkan Ustun"
					/> on Reinforcement Learning for Socially Intelligent Agents.
				</p>

				<p class="mb-4">
					I'm interested in Cognitive Science and Artifitial Intelligence with a recent
					focus on Multimodal and Large Language Model.
				</p>

				<p class="mb-4">
					Check out my <InLineLink href="/resume.pdf" text="Resume" />
				</p>
			</div>
		</div>
	</section>

	<section class="mt-16">
		<h2 class="text-xxl title mb-4">Research</h2>
		<ul class="space-y-3 sm:space-y-10">
			{
				allResearchByDate.map((p: any) => (
					<li class="flex flex-col">
						<ResearchPreview research={p} />
					</li>
				))
			}
		</ul>
	</section>

	<section aria-label="Blog post list" class="mt-16">
		<h2 class="text-xxl title mb-4">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
