---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import ResearchPreview from "@/components/research/ResearchPreview";
import { sortMDByDate, sortResearchByDate } from "@/utils";
import { Picture } from "@astrojs/image/components";
import profile_pic from "../assets/profile.jpg";
import InLineLink from "@/components/InLineLink";

const MAX_POSTS = 10;
const MAX_RESEARCH = 10;

const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const allResearch = await getCollection("research");
const allResearchByDate = sortResearchByDate(allResearch).slice(0, MAX_RESEARCH);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<div class="flex flex-col space-y-4 sm:flex-row sm:space-x-6 sm:space-y-0">
			<div class="w-full sm:w-64 sm:flex-shrink-0 p-4">
				<Picture
					class="mx-auto w-full rounded-md"
					widths={[256, 320, 512]}
					sizes="(max-width: 639px) 320px, 256px"
					loading="eager"
					width={512}
					height={512}
					src={profile_pic}
					alt="profile"
				/>
			</div>
			<div class="flex-1 p-4">
				<h1 class="text-xxl title mb-3">Yunzhe Wang</h1>
				<p class="mb-3">
					I am a Computer Science PhD student at USC, advised by <InLineLink
						href="https://ict.usc.edu/about-us/leadership/senior-management/william-swartout/"
						text="William Swartout"
					/> and
					<InLineLink
						href="https://ict.usc.edu/about-us/leadership/research-leadership/volkan-ustun/"
						text="Volkan Ustun"
					/>. My research focuses on bridging the gap between humans and AI in multi-agent
					scenarios, creating a collaborative future where both can thrive.
				</p>

				<p class="mb-3">
					Prior to joining USC, I worked as an AI Researcher and Software Engineer at <InLineLink
						href="https://bubble.io/"
						text="Bubble.io"
					/>, where I developed LLM-Agents for interactive web development. I also conducted
					research in machine learning and robotics at Columbia University's Creative Machines Lab
					advised by <InLineLink href="https://www.hodlipson.com/" text="Hod Lipson" />.
				</p>
				<h2 class="mb-2 text-xl font-semibold text-accent-2">Research Interests</h2>
				<ul class="mb-4 list-inside list-disc space-y-1">
					<li>Autonomous Agent Systems Powered by Large Language Models</li>
					<li>Cooperative and Competitive Multi-Agent Learning</li>
					<li>Human-AI Teaming and Collaborative Intelligence</li>
					<li>Artificial Intelligence for Interactive Game Environments</li>
					<li>Reinforcement Learning for Sequential Decision-Making</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="mt-16">
		<h2 class="text-xxl title mb-6">Recent Publications</h2>
		<ul class="space-y-6">
			{
				allResearchByDate.map((p: any) => (
					<li>
						<ResearchPreview research={p} />
					</li>
				))
			}
		</ul>
	</section>

	<section class="mt-16">
		<h2 class="text-xxl title mb-4">Services</h2>
		<h3 class="text-md mb-2 font-semibold">Technical Program Committee (TPC) Member/Reviewer</h3>
		<ul class="list-inside list-disc space-y-3 pl-4 sm:space-y-3">
			<li class="pl-2">International Conference on Learning Representations (ICLR) 2025, 2026</li>
			<li class="pl-2">Association for the Advancement of Artificial Intelligence (AAAI) 2025, 2026 </li>
			<li class="pl-2">Conference on Empirical Methods in Natural Language Processing (EMNLP) 2025</li>
			<li class="pl-2">International Conference on Autonomous Agents and Multiagent Systems (AAMAS) 2025, 2026</li>
			<li class="pl-2">Conference on Neural Information Processing Systems (NeurIPS) 2026</li>
			<li class="pl-2">IEEE Symposium Series on Computational Intelligence 2025</li>
			<li class="pl-2">
				IEEE Symposium on Computational Intelligence in Natural Language Processing and Social Media
				(CINLPSoMe) 2025
			</li>
			<li class="pl-2">IEEE International Conference on Acoustics, Speech, and Signal Processing (ICASSP) 2025</li>
			<li class="pl-2">IEEE International Workshop on Machine Learning for Signal Processing (MLSP) 2025, 2026</li>
			<li class="pl-2">
				Conference on Neural Information Processing Systems (NeurIPS) 2024 Workshop Foundation
				Models for Science
			</li>
		</ul>
	</section>

	<section aria-label="Blog post list" class="mt-16">
		<h2 class="text-xxl title mb-4">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
