---
import PageLayout from "@/layouts/Base";
// import { Image } from "@astrojs/image/components";
// import aboutImg from "../assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Featured</h1>
		<h1 class="title">Programming Art</h1>
	</div>
</PageLayout>
